
.tooltip {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 9rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
    color: black;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: 1px solid red;
        background-color: red;
    }
}